<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Bookstore</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h2>Add Book</h2>

    <form th:action="@{/add}" th:object="${book}" method="post">
        <label for="author">Author:</label>
        <input type="text" id="author" th:field="*{author}" required>
        <br>
        
        <label for="title">Title:</label>
        <input type="text" id="title" th:field="*{title}" required>
        <br>
        
        <label for="year">Publishing Year:</label>
        <input type="number" id="year" th:field="*{publicationYear}" required>
        <br>
        
        <label for="isbn">ISBN:</label>
        <input type="number" id="isbn" th:field="*{isbn}" required>
        <br>
        
        <label for="price">Price:</label>
        <input type="number" id="price" th:field="*{price}" required>
        <br>
        
        <button type="submit">Add Book</button>
    </form>

    <a href="/booklist">Back to Book List</a>

</body>
</html>